<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= favicon_link_tag 'blog.ico' %>
  </head>

  <body>
  <div id="sidebar">
    <div id="logo">
      <%= link_to root_path do%>
       <%= image_tag 'seneng', size: "50x50"%>
      <% end %>
    </div>
  
    <ul>
      <li class="category">Website</li>
      <li><%= link_to 'Blog', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
    </ul>

    <ul>
      <li class="category">Social</li>
      <li><%= link_to 'Instagram', "https://www.instagram.com/seneng_utami/?hl=en", target: '_blank' %></li>
      <li><%= link_to 'Github', "https://github.com/senengutami", target: '_blank' %></li>
    </ul>
  </div>

  <% if !user_signed_in? %>
     <p class= "sign_in">Admin Login</p>
     <% end %>

     </div>

  <div id="main_content">
  <div id="header">
  <% if current_page?(root_path)%>
    <p>All Posts</p>
    <% elsif current_page? (about_path)%>
    <p>About</p>
    <% else %>
      <%= link_to 'Back to All Posts', root_path%>
      <% end %>

     <% if user_signed_in? %>
    <div class="buttons">
      <button class="button"><%= link_to "New Post", new_post_path %></button>
      <button class="button">Log Out</button>
    </div>
    <% end %>
   </div>
   <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert") %>
   <% end %>
   <%= yield%>
</div>

  
  
  
  </body>
</html>
